<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spit.CarTrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.spit.CarTrack.retrieve_data"></activity>
        <activity android:name="com.spit.CarTrack.ZoneView" />
        <activity android:name="com.spit.CarTrack.ZoneInfo" />
        <activity android:name="com.spit.CarTrack.Click" />
        <activity android:name="com.spit.CarTrack.MapsActivity" />
        <activity android:name="com.spit.CarTrack.PrivacyPolicy" />
        <activity android:name="com.spit.CarTrack.Terms" />
        <activity android:name="com.spit.CarTrack.Contact" />
        <activity android:name="com.spit.CarTrack.Help" />
        <activity android:name="com.spit.CarTrack.About" />
        <activity android:name="com.spit.CarTrack.HomeFragment" />
        <activity android:name="com.spit.CarTrack.Settings_Fragment" />
        <activity android:name="com.spit.CarTrack.EntriesFragment" />
        <activity android:name="com.spit.CarTrack.MainActivity1" />

        <activity android:name="com.spit.CarTrack.Privacy" />

        <activity
            android:name="com.spit.CarTrack.Flash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.spit.CarTrack.Register" />

        <activity android:name="com.spit.CarTrack.LoginTOP" />
        <activity android:name="com.spit.CarTrack.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- <activity -->
        <!--
android:name=".ui.login.Login"
            android:label="@string/title_activity_login" />
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>